name: Build and push frontend

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Build and push the Docker images
      uses: docker/build-push-action@v6
      with:
        push: true
        context: .
        tags: ghcr.io/elisaado/allesbot:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
